:root {
	--foreground-color: black;
	--background-color: white;
	--wrong-color: red;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: white;
		--background-color: black;
	}
}
